<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="h-screen m-5">
    <div class="flex flex-col item-center justify-center p-2 border-2 border-red-400 mt-10">
        <div><a class="bg-blue-200 px-2 rounded py-1" href="/">Add User</a></div>
        <h1 class="text-3xl font-semibold ">All Users</h1>
        <div class="flex flex-wrap gap-5 mt-5">
            <% if(users.length>0){
                %>
                
                <% users.forEach(function(user){
                    %>
                    <div class="border border-black-400 p-2">
                        <div class="h-64 w-64"><img class="w-full h-full object-cover"  src="<%=user.image %>" alt="user"/></div>
                        <div><h2><%=user.name %></h2></div>
                        <div><h2><%=user.email%> </h2></div>
                        <div class="flex justify-between">
                            <button class="bg-yellow-500 px-2 py-1 rounded">Edit</button>
                            <button class="bg-red-300 px-2 py-1 rounded"><a href="/delete/<%= user._id %>">Delete</a></button>
                        </div>
                    </div>
                    <%
                }) %>

                <%
                
            }  else{ %><h3>No Users</h3><% } %>
            
            

            
        </div>

    </div>
    
</body>
</html>